*, *:before, *:after {
	margin: 0px;
	padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, html {
	font-family: Arial, sans-serif;
	font-size: 15px;
	color: #666666;

	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a:focus {outline: none;}
a:hover {text-decoration: none;}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input, textarea, label {
	display: block;
	outline: none;
	border: none;
}

button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}

.fs-16 {font-size: 16px;}

.p-t-5 {padding-top: 5px;}
.p-t-23 {padding-top: 23px;}
.p-t-33 {padding-top: 33px;}
.p-t-43 {padding-top: 43px;}
.p-t-60 {padding-top: 60px;}
.p-t-65 {padding-top: 65px;}

.p-l-25 {padding-left: 25px;}
.p-r-30 {padding-right: 30px;}

.p-b-7 {padding-bottom: 7px;}
.p-b-10 {padding-bottom: 10px;}
.p-b-14 {padding-bottom: 14px;}
.p-b-20 {padding-bottom: 20px;}
.p-b-30 {padding-bottom: 30px;}
.p-b-40 {padding-bottom: 40px;}
.p-b-60 {padding-bottom: 60px;}

.m-tb-10 {margin-top: 10px;}
.m-t-50 {margin-top: 50px;}

.m-lr-auto {margin-left: auto; margin-right: auto;}

.buy-product {flex-direction: column;}

.all-product-btn {
    margin-top: 10px;
}

.txt-center {text-align: center;}
.wrap-pic-w {display: block;}
.wrap-pic-w img {width: 100%;}




/* Start colored-buttons */
.hb-colour-options{
	width: 100%;
}

div.hb-colour-options input[type="radio"] {
	position:absolute;
	opacity: 0;
	-moz-opacity: 0;
	-webkit-opacity: 0;
	-o-opacity: 0;
}

div.hb-colour-options input[type="radio"] + label {
	position:relative;
	float:left;
	width: 25px;
	height: 25px;
	margin: 0 8px 8px 0;  
	text-indent:-9999px;
	cursor: pointer;
}

div.hb-colour-options input[type="radio"] + label:before {
	content:"";
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	height: 25px;
	width: 25px;
	background: #e4e4e4;
	border: 2px solid #fff;
	transition: all 0.5s ease;
	border: 1px solid #cccccc;
	cursor: pointer;
}

div.hb-colour-options input[type="radio"]#black + label:before {
	background:#000000;
}
div.hb-colour-options input[type="radio"]#white + label:before {
	background:#ffffff;
}
div.hb-colour-options input[type="radio"]#blue-sky + label:before {
	background: #7FB7CD;
}
div.hb-colour-options input[type="radio"]#carribean-blue + label:before {
	background: #05204e;
}
div.hb-colour-options input[type="radio"]#teal + label:before {
	background: #226D73;
}
div.hb-colour-options input[type="radio"]#red + label:before {
	background: #812329;
}
div.hb-colour-options input[type="radio"]#purple + label:before {
	background: #4B4F7C;
}
div.hb-colour-options input[type="radio"]:checked + label:after {
	font-family: 'FontAwesome';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '\f00c';
	font-size: 20px;
	color: #fff;
	z-index: 99;
	text-indent: 0;
	margin: 0;
}

div.hb-colour-options input[type="radio"]#white:checked + label:after {
	color: #000;
}
  
/* End colored-buttons */