@media (max-width: 991.98px) {
    .product-item.full-height {
        height: 300px !important;
        margin-bottom: 30px;
    }

    .advertisement-slider-item h2 {
        font-size: 6rem !important;
    }
    .all-product-header{
        font-size: 30px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1175px;
    }
}

@media (max-width: 1750px) {
    .advertisement-slider-item .next-hs {
        width: 250px;
        height: 450px;
        border: 10px solid #fff;
    }

    .advertisement-slider-item h2 {
        font-size: 8rem;
    }

}


@media (max-width: 1100px) {
    .service {
        flex-direction: column;
    }

    .service-item {
        margin-right: 0 !important;
        width: 95%;
        align-items: flex-start;
    }

    .branding-authorized-item {
        margin: 0 auto !important;
    }

    .branding-authorzied-text {
        font-size: 20px !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .site-navbar.navbar-dark .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }

    .advertisement-slider-item .next-hs {
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .site-navbar {
        padding: 15px 70px;
        display: block;
        text-align: center;
    }

    .navbar-brand {
        display: block;
    }

    .navbar-expand-md .navbar-collapse {
        display: block !important;
    }

    .navbar-expand-md .navbar-nav {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .site-navbar.navbar-dark .navbar-nav .nav-link {
        padding-right: 15px;
        padding-left: 15px;
    }

    .social-links a:first-child {
        margin-left: 0;
    }

    .advertisement-slider-item {
        padding: 0px 85px;
        height: 800px;
    }

    .advertisement-slider-item h2 {
        font-size: 65px;
    }

    .advertisement-slider-item .next-hs {
        display: none;
    }

    .intro-text {
        padding-top: 50px;
    }

    .footer-widget {
        margin-bottom: 40px;
    }

    .contact-page .map {
        margin-top: 50px;
    }

    .sidebar {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .site-navbar.navbar-dark .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .social-links a:first-child {
        margin-left: 0;
    }

    .advertisement-slider .owl-dots {
        right: 100px;
    }

    .advertisement-slider .owl-nav {
        right: 15px;
    }

    .advertisement-slider-item {
        padding: 250px 15px;
        height: auto;
    }

    .advertisement-slider-item h2 {
        font-size: 50px;
    }

    .advertisement-slider-item .next-hs {
        display: none;
    }

    .intro-text {
        padding-top: 30px;
    }

    .footer-widget {
        margin-bottom: 40px;
    }


    .single-fitness-feature .fitness-number.left-number{
        margin-left: 0;

    }

    .single-fitness-feature .fitness-text.left-text p {
        padding-left: 0;
    }

    .contact-page .map {
        margin-top: 50px;
    }

    .sidebar {
        padding-top: 50px;
    }

    .service-item {
        width: 90%;
    }
    #instructions .content p{
        display: none;
    }
    #instructions .content h2{
        margin-bottom: 5px;
        line-height: 30px;
    }
    .all-product-btn{
        padding: 12px 15px;
    }

    .get-notification .form-control {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 479px) {
    .site-navbar {
        padding: 15px 50px !important;
    }

    .advertisement-slider-item h2,

    .award-slider .owl-controls {
        padding-bottom: 50px;
        padding-top: 40px;
    }

    .award-slider .owl-dots {
        display: block;
        float: none;
    }

    .award-slider .owl-nav {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }

}


@media (max-width: 1199.98px) {
    .ftco-vh-100 {
        height: inherit;
        padding-top: 5em;
        padding-bottom: 5em;
    }

    .ftco-vh-75 {
        min-height: 700px;
        height: inherit;
        padding-top: 5em;
        padding-bottom: 5em;
    }
}

@media (max-width: 767.98px) {
    .ftco-tab-nav {
        display: block !important;
        margin-bottom: 10px;
        width: 100% !important;
    }

    .ftco-tab-nav li {
        display: block !important;
        margin-bottom: 10px;
        width: 100% !important;
    }

    .branding-authorized {
        flex-direction: column !important;
    }

    .branding-authorized-logo {
        margin-right: 10px !important;
    }

    .advertisement-slider-item h2 {
        font-size: 4rem !important;
    }

    .all-product-header{
        font-size: 28px;
    }
}

@media (max-width: 580px) {
    .get-notification {
        padding-bottom: 0 !important;
    }
    .advertisement-slider-item h2 {
        font-size: 3rem !important;
    }

    .advertisement-item-btn {
        padding: 14px 30px !important;
    }

    .cooperation-text {
        font-size: .9em !important;
        padding: 0 8px;
    }
    .get-notification h2{
        font-size: 25px!important;
        margin-bottom: 0 !important;
    }
    .partner-02 h2 {
        font-size: 30px !important;
    }
    #best-seller-product-01, #best-seller-product-02{
        padding-top: 0!important;
        padding-bottom: 0!important;
    }
    #best-seller-product-01 .product-item-2, #best-seller-product-02 .product-item-2{
        margin: 0 0 0 0!important;
    }
    #best-seller-product-01 .img-fluid{
        margin-bottom: 16px!important;
    }
    .spad{
        padding-top: 25px;
        padding-bottom: 0px;
    }
    .intro-text h2, .partners h2{
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 15px;
    }
    .service:first-child{

        padding-top: 15px;
    }
    .service:last-child{

        padding-bottom: 15px;
    }
    .map img{
        height: auto!important;
    }
    #instructions{
        margin-bottom: 0;
    }
    #instructions .content{
        padding: 5px;
        display: flex;
        justify-content: center;
    }
    .explore-blouse-btn {
        padding: 14px 26px;
        color: #ffffff !important;
        background-color: #000000 !important;
    }
    #instructions a{
        margin-top: 1em !important;
    }
    .site-section .featured-product-container{
        padding: 0;
        margin-bottom: 20px;
    }
    .site-section .product-title-wrap{
        padding-left: 10px;
        padding-right: 10px;
    }
    .get-notification .form-control{
        height: 40px;
        margin-bottom: 10px;
    }
    .get-notification .form-control::placeholder{
        font-size: 12px;
    }
    .get-notification .btn{
        font-size: 16px;
    }
    .get-notification .form-control:focus{
        background-color: transparent!important;
        color: #fff;
    }
}


@media (max-width: 420px) {
    .advertisement-slider-item h2 {
        font-size: 3rem !important;
    }

    .advertisement-item-btn {
        padding: 10px 24px !important;
    }

    .site-navbar {
        padding: 0px 20px !important;
    }
    .author-img{
        max-width: 375px;
        height: auto;
    }

    #instructions .content h2{
        font-size: 18px;
    }
    .intro-text p{
        font-size: 15px;
        line-height: 26px;
    }
    .thekim-brand{
        font-size: 22px!important;
    }
    .site-logo p{
        font-size: 8px;
    }
    .navbar-dark .navbar-toggler{
        border: none;
        outline: none;
        box-shadow: none;
    }
    .navbar-collapse{
        padding-bottom: 15px;
    }
    .site-navbar.navbar-dark .navbar-nav .nav-link{
        padding-left: 0!important;
    }
    .site-navbar.navbar-dark .navbar-nav .nav-link:before{
        left: 0!important;
    }
}

@media (max-width: 360px) {
    .advertisement-slider-item h2 {
        font-size: 2.5rem !important;
    }

    /* .advertisement-item-btn {
        padding: 10px 24px !important;
    } */
}


@media screen and (prefers-reduced-motion: reduce) {
    .testimony-section .overlay {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}
