.scroll-to-top {
    /*display: inline-block;*/
    background-color: #000000;
    width: 2.2rem;
    height: 2.2rem;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 80px;
    right: 20px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.scroll-to-top::after {*/
/*    content: "\02C4";*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-size: 20px;*/
/*     line-height: 1.9em;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 50%;*/
/*    transform: translate(-50%, 0);*/
/*}*/

@media screen and (max-width: 991px){
    .scroll-to-top::after {
        content: "\02C4";
        font-weight: normal;
        font-style: normal;
        font-size: 30px;
        color: #fff;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


.scroll-to-top:hover {
    cursor: pointer;
    background-color: #f62a66;
}

.scroll-to-top.show {
    opacity: 1;
    visibility: visible;
}
