.navbar-brand {
    padding-top: .5125rem !important;
    padding-bottom: .5125rem !important;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}


.section-title {
    margin-bottom: 110px;
}

.section-title span {
    color:  #91BDDE;
    font-size: 12px;
    text-transform: uppercase;
}

.section-title h2 {
    padding-top: 15px;
    line-height: 1.4;
    text-transform: uppercase;

}
.product-item-2 h3{
    font-family: Montserrat, sans-serif;

}
.price{
    font-size: 24px;
    color: #c4c1c3;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
}
.price del{
    font-size: 18px;
}

.adv-bg-set {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.spad {
    padding-top: 4.5rem;
    padding-bottom: 3.5rem;
}

.advertisement-item-btn {

    font-family: Montserrat, sans-serif;
    display: inline-block;
    min-width: 186px;
    padding: 18px 40px;
    border: 1px solid #fff;
    background: transparent;

    font-size: 16px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: normal;

    cursor: pointer;

    transition: 250ms !important;
    overflow: hidden;
}

.advertisement-item-btn:hover {
    color: #fff !important;
    background-color: #000;
    border-color: #000;
}


.all-product-btn {
    display: inline-block;

    min-width: 186px;
    padding: 18px 30px;
    border: 1px solid #000;
    background: #000;

    font-size: 14px;
    color: #fff;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;

    cursor: pointer;

    transition: 250ms;
    position: relative;
}

.all-product-btn:hover {
    color: #000 !important;
    background-color: #fff;
    border-color: #000;
}

.advertisement-item-btn i {
    font-size: 16px;
    margin-left: 4px;
}

.advertisement-item-btn.sb-dark {
    border: 1px solid #000;
    color: #000;
}

/* .advertisement-item-btn.sb-dark:hover {
    color: #3b3f42;
} */

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    width: 29px;
    height: 29px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin-right: 8px;
    position: relative;
    text-align: center;
    transition: 200ms;
}

.owl-carousel .owl-nav button.owl-prev:after,
.owl-carousel .owl-nav button.owl-next:after {
position: absolute;
content: "";
top: 7px;
left: 7px;
border-top: 5px solid transparent;
border-left: 9px solid #fff;
border-bottom: 5px solid transparent;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
border-color: #91BDDE;
color: #91BDDE;
}

.owl-carousel .owl-nav button.owl-prev:hover:after,
.owl-carousel .owl-nav button.owl-next:hover:after {
    border-left: 9px solid #91BDDE;
}

.owl-carousel .owl-nav button.owl-prev {
margin-right: 8px;
}

.owl-carousel .owl-nav button.owl-prev:after {
margin-right: 8px;
border-left: 0;
border-right: 9px solid #fff;
}

.owl-carousel .owl-nav button.owl-prev:hover:after {
border-left: 0;
border-right: 9px solid #91BDDE;
}

.site-logo {
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.site-logo-text {
    margin-left: 1em;
}

.site-logo h2 {
font-size: 30px;
color: #fff;
text-transform: uppercase;
font-weight: 400;
margin-bottom: 0;
}

.site-logo h2 span {
color:  #91BDDE;
}

.site-logo p {
text-transform: uppercase;
color: #6b6b6b;
/* opacity: 0.43; */
font-weight: 700;
font-size: 10px;
letter-spacing: 0.29em;
margin-bottom: 0;
}
.site-navbar {
background-color: #3b3f42 !important;
}

.site-navbar.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
}
.site-navbar.navbar-dark .navbar-nav .nav-link:before{
    content: "";
    width: 0;
    height: 2px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 25px;
    transition: all .2s ease-in-out;
}

.site-navbar.navbar-dark .navbar-nav .nav-link:hover:before {
    width: 70%;
}

.social-links a {
color: #fff;
margin-left: 30px;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.social-links a:hover {
color:  #91BDDE;
}

/*------------------
Hero Section
---------------------*/

.advertisement {
    position: relative;
}

.advertisement-slider-item {
height: 974px;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
text-align: center;
/* padding: 0px 145px; */
overflow: hidden;
}

.advertisement-slider-item h2 {
    font-size: 9rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 20px;
    position: relative;
    top: 50px;
    opacity: 0;
    text-transform: uppercase;
}

.advertisement-slider-item .advertisement-item-btn {
position: relative;
top: 50px;
opacity: 0;
}

.advertisement-slider-item .next-hs {
position: absolute;
width: 260px;
height: 440px;
right: -55px;
border: 20px solid #fff;
border-right: none;
opacity: 0;
}

.advertisement-slider-item .advertisement-site-btn {
position: absolute;
left: 0;
top: 50%;
color: #fff;
font-size: 18px;
padding: 8px 33px;
margin-top: -21px;
background:  #91BDDE;
}

.owl-item.active .advertisement-slider-item h2,
.owl-item.active .advertisement-slider-item .advertisement-item-btn {
top: 0;
opacity: 1;
}

.owl-item.active .advertisement-slider-item h2 {
-webkit-transition: all 0.5s ease 0.2s;
transition: all 0.5s ease 0.2s;
}

.owl-item.active .advertisement-slider-item .advertisement-item-btn {
-webkit-transition: all 0.5s ease 0.4s;
transition: all 0.5s ease 0.4s;
}

.owl-item.active .advertisement-slider-item .next-hs {
opacity: 1;
right: 0;
-webkit-transition: all 0.5s ease 0.6s;
transition: all 0.5s ease 0.6s;
}

.hero-social-warp {
position: absolute;
left: 0;
background: #fff;
-webkit-transform: rotate(-90deg);
transform: rotate(-90deg);
-webkit-transform-origin: left top;
transform-origin: left top;
padding: 54px 83px;
padding-left: 2px;
bottom: -135px;
z-index: 9;
}

.hero-social-warp p {
display: inline-block;
margin-bottom: 0;
font-size: 14px;
color: #081624;
opacity: 0.5;
text-transform: uppercase;
padding-right: 10px;
font-family: "Helvetica 65 Medium", sans-serif;
}

.hero-social-warp .hero-social-links {
display: inline-block;
}

.hero-social-warp .hero-social-links a {
color: #3b3f42;
margin-left: 35px;
font-size: 17px;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.hero-social-warp .hero-social-links a:hover {
color:  #91BDDE;
}

.hero-social-warp .hero-social-links a i {
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}

.advertisement-slider .owl-dots {
position: absolute;
right: 100px;
bottom: 34px;
}

.advertisement-slider .owl-dots .owl-dot {
width: 33px;
height: 3px;
background: #fff;
margin-right: 7px;
}

.advertisement-slider .owl-dots .owl-dot.active {
background: #91BDDE;
}

.advertisement-slider .owl-dots .owl-dot:last-child {
margin-right: 0;
}

.advertisement-slider .owl-nav {
position: absolute;
right: 20px;
bottom: 25px;
}

.advertisement-slider .owl-nav button.owl-prev {
margin-right: 8px;
}

/*------------------
Intro Section
---------------------*/
.intro-text {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.intro-text span {
color: #adb5bd;
font-size: 12px;
text-transform: uppercase;
font-weight: 700;
}

.intro-text h2 {
padding-top: 15px;
margin-bottom: 40px;
line-height: 1.4;
font-weight: normal;
}
.intro-text h4 {
    color: #91BDDE;
}

.intro-text p {
margin-bottom: 50px;
font-weight: 500;
    font-family: Montserrat, sans-serif;
}
/*------------------
Portfolio Section
---------------------*/

.portfolio-item {
margin-bottom: 30px;
position: relative;
display: block;
}

.portfolio-item img {
min-width: 100%;
}

.portfolio-item h4 {
position: absolute;
width: 100%;
text-align: center;
top: 40%;
margin-top: -14px;
z-index: 5;
opacity: 0;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
}

.portfolio-item:after {
position: absolute;
content: "";
width: 100%;
height: 100%;
left: 0;
top: 0;
background: rgba(255, 255, 255, 0.8);
border: 0px solid #3b3f42;
z-index: 2;
opacity: 0;
-webkit-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
}

.portfolio-item:hover:after {
opacity: 1;
border: 15px solid #3b3f42;
}

.portfolio-item:hover h4 {
top: 50%;
opacity: 1;
}

/*------------------
Blog Section
---------------------*/

.blog-section .container {
padding-left: 0;
}

.blog-slider .blog-item {
padding-top: 17px;
padding-left: 17px;
}

.blog-slider .owl-nav button.owl-prev,
.blog-slider .owl-nav button.owl-next {
border: 3px solid  #91BDDE;
position: absolute;
top: 240px;
right: -100px;
}

.blog-slider .owl-nav button.owl-prev:after,
.blog-slider .owl-nav button.owl-next:after {
border-left: 9px solid  #91BDDE;
}

.blog-slider .owl-nav button.owl-prev:hover,
.blog-slider .owl-nav button.owl-next:hover {
border-color:  #91BDDE;
color:  #91BDDE;
}

.blog-slider .owl-nav button.owl-prev:hover:after,
.blog-slider .owl-nav button.owl-next:hover:after {
border-left: 9px solid  #91BDDE;
}

.blog-slider .owl-nav button.owl-prev {
right: auto;
left: -80px;
}

.blog-slider .owl-nav button.owl-prev:after {
border-left: 0;
border-right: 9px solid  #91BDDE;
}

.blog-slider .owl-nav button.owl-prev:hover:after {
border-left: 0;
border-right: 9px solid  #91BDDE;
}

.blog-item {
position: relative;
}

.blog-item .blog-thumb {
position: relative;
height: 428px;
}

.blog-item .blog-date {
position: absolute;
left: -16px;
top: -16px;
width: 77px;
height: 77px;
text-align: center;
border: 3px solid #3b3f42;
background: #fff;
padding-top: 5px;
}

.blog-item .blog-date h2 {
line-height: 1;
}

.blog-item .blog-date p {
color: #081624;
}

.blog-item .blog-head {
width: calc(100% - 52px);
margin-left: 26px;
padding: 20px 20px 35px;
background: #fff;
margin-top: -50px;
z-index: 1;
position: relative;
}

.blog-item .blog-head h2 a {
color: #081624;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.blog-item .blog-head h2 a:hover {
color:  #91BDDE;
}

.blog-item .blog-head.bh-sm h2 {
font-size: 30px;
}

.blog-item .blog-tags {
font-size: 12px;
text-transform: uppercase;
color:  #91BDDE;
}

.backtotop {
position: relative;
border-bottom: 3px solid #e3e3e3;
margin-bottom: 30px;
}

.backtotop .up-btn {
position: absolute;
width: 72px;
height: 72px;
left: calc(50% - 31px);
top: calc(50% - 31px);
text-align: center;
color: #71767b;
font-size: 16px;
display: block;
padding-top: 16px;
border-radius: 50%;
border: 3px solid #e3e3e3;
background: #fff;
cursor: pointer;
}

/*------------------
Footer Section
---------------------*/

.footer-section {
padding-top: 95px;
padding-bottom: 70px;
}

.footer-widget .fw-title {
font-size: 24px;
margin-bottom: 58px;
}

.footer-widget.fw-about img {
margin-bottom: 50px;
}

.footer-widget.fw-about p {
font-size: 14px;
margin-bottom: 40px;
line-height: 2;
}

.footer-widget .fw-social a {
color: #3b3f42;
margin-right: 25px;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.footer-widget .fw-social a:hover {
color:  #91BDDE;
}

.footer-widget.resent-post .rp-item {
margin-bottom: 25px;
}

.footer-widget.resent-post .rp-item h4 {
font-size: 16px;
font-family: "Helvetica 45 Light", sans-serif;
}

.footer-widget.resent-post .rp-item span {
font-size: 12px;
font-family: "Helvetica 45 Light", sans-serif;
color:  #91BDDE;
}

.footer-widget ul {
list-style: none;
}

.footer-widget ul li {
font-size: 15px;
font-family: "Helvetica 45 Light", sans-serif;
margin-bottom: 10px;
color: #71767b;
}

.footer-widget ul li a {
color: #71767b;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.footer-widget ul li a:hover {
color:  #91BDDE;
}

.footer-widget.contact-widget ul li {
margin-bottom: 15px;
}

.footer-widget.contact-widget span {
display: inline-block;
width: 75px;
}

.link-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-icon-container {
    width: 15%;
    text-align: left;
    margin-right: 10px;
}
.footer-link-container {
    width: 70%;
    text-align: left;
}

.contact {
padding-top: 80px;
text-align: center;
}

.contact i {
color: #5d5458;
}

.contact a {
color: #081624;
text-decoration: underline;
}

.contact a:hover {
color:  #91BDDE;
}

/*----------------
Other Pages
------------------
==================*/

.page-top-section {
position: relative;
height: 474px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding-left: 295px;
}

.page-top-section h2 {
font-size: 72px;
color: #fff;
}

.page-top-section .hero-social-warp {
bottom: -236px;
}

.page-warp {
padding-top: 144px;
padding-bottom: 144px;
}

/*----------------
About page
------------------*/

.award-section {
background: #f8f9fb;
}

.award-slider {
text-align: center;
}

.award-slider .owl-controls {
padding-top: 86px;
display: inline-block;
}

.award-slider .owl-nav {
display: inline-block;
}

.award-slider .owl-nav button.owl-prev,
.award-slider .owl-nav button.owl-next {
border: 3px solid  #91BDDE;
}

.award-slider .owl-nav button.owl-prev:after,
.award-slider .owl-nav button.owl-next:after {
border-left: 9px solid  #91BDDE;
}

.award-slider .owl-nav button.owl-prev:hover,
.award-slider .owl-nav button.owl-next:hover {
border-color:  #91BDDE;
color:  #91BDDE;
}

.award-slider .owl-nav button.owl-prev:hover:after,
.award-slider .owl-nav button.owl-next:hover:after {
border-left: 9px solid  #91BDDE;
}

.award-slider .owl-nav button.owl-prev:after {
border-left: 0;
border-right: 9px solid  #91BDDE;
}

.award-slider .owl-nav button.owl-prev:hover:after {
border-left: 0;
border-right: 9px solid  #91BDDE;
}

.award-slider .owl-dots {
float: left;
margin-right: 11px;
}

.award-slider .owl-dots .owl-dot {
width: 33px;
height: 3px;
background: #3b3f42;
margin-right: 7px;
}

.award-slider .owl-dots .owl-dot.active {
background:  #91BDDE;
}

.award-slider .owl-dots .owl-dot:last-child {
margin-right: 0;
}

.award-box {
text-align: center;
border: 3px solid #3b3f42;
padding: 60px 20px 10px;
min-height: 305px;
background: #fff;
-webkit-transition: all 0.4s;
transition: all 0.4s;
}

.award-box .award-year {
width: 77px;
height: 77px;
margin: 0 auto 20px;
/*background-image: url("../img/award-icon.png");*/
background-repeat: no-repeat;
padding-top: 20px;
font-size: 16px;
-webkit-transition: all 0.4s;
transition: all 0.4s;
}

.award-box h4 {
font-size: 18px;
font-weight: 700;
margin-bottom: 15px;
font-family: "Helvetica Neue Bold", sans-serif;
-webkit-transition: all 0.4s;
transition: all 0.4s;
}

.award-box p {
font-size: 14px;
-webkit-transition: all 0.4s;
transition: all 0.4s;
}

.award-box:hover {
background:  #91BDDE;
border: 3px solid  #91BDDE;
}

.award-box:hover .award-year {
/*background-image: url("../img/award-icon-white.png");*/
}

.award-box:hover .award-year,
.award-box:hover h4,
.award-box:hover p {
color: #fff;
}

.milestones-section {
padding-top: 65px;
padding-bottom: 70px;
}

.milestone-item {
text-align: center;
}

.milestone-item h2 {
font-family: "Helvetica 45 Light", sans-serif;
font-size: 72px;
}

.milestone-item p {
font-size: 18px;
margin-bottom: 0;
}

.brand-history-item {
position: relative;
padding-bottom: 60px;
margin-bottom: 25px;
text-align: center;
}

.brand-history-item h2 {
font-family: "Helvetica 45 Light", sans-serif;
color:  #91BDDE;
margin-bottom: 25px;
}

.brand-history-item h4 {
margin-bottom: 20px;
}

.brand-history-item p {
margin-bottom: 0;
padding-bottom: 10px;
}

.brand-history-item:after {
position: absolute;
content: "";
height: 45px;
width: 2px;
left: 50%;
margin-left: -1px;
bottom: 0;
background: #e5e7f3;
}

.brand-history-item:last-child {
padding-bottom: 0;
margin-bottom: 50px;
}

.brand-history-item:last-child:after {
display: none;
}

/* ----------------
Portfolio page
---------------------*/

.portfolio-page {
padding: 116px 132px;
}

.portfolio-cata {
list-style: none;
margin-bottom: 90px;
}

.portfolio-cata li {
display: inline-block;
}

.portfolio-cata li a {
display: block;
font-size: 24px;
color: #71767b;
font-family: "Helvetica 65 Medium", sans-serif;
margin-right: 55px;
margin-bottom: 20px;
position: relative;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.portfolio-cata li a:after {
position: absolute;
content: "";
width: 0;
height: 2px;
right: 0;
bottom: 0;
background:  #91BDDE;
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.portfolio-cata li a:hover {
color: #081624;
}

.portfolio-cata li a:hover:after {
width: 100%;
left: 0;
right: auto;
}

.portfolio-cata li.active a {
color: #081624;
}

.portfolio-cata li.active a:after {
width: 100%;
left: 0;
right: auto;
}

.portfolio-big-img {
margin-bottom: 22px;
}

.portfolio-slider {
text-align: center;
}

.portfolio-slider .owl-controls {
padding-top: 86px;
display: inline-block;
}

.portfolio-slider .owl-nav {
display: inline-block;
}

.portfolio-slider .owl-nav button.owl-prev,
.portfolio-slider .owl-nav button.owl-next {
border: 3px solid  #91BDDE;
}

.portfolio-slider .owl-nav button.owl-prev:after,
.portfolio-slider .owl-nav button.owl-next:after {
border-left: 9px solid  #91BDDE;
}

.portfolio-slider .owl-nav button.owl-prev:hover,
.portfolio-slider .owl-nav button.owl-next:hover {
border-color:  #91BDDE;
color:  #91BDDE;
}

.portfolio-slider .owl-nav button.owl-prev:hover:after,
.portfolio-slider .owl-nav button.owl-next:hover:after {
border-left: 9px solid  #91BDDE;
}

.portfolio-slider .owl-nav button.owl-prev:after {
border-left: 0;
border-right: 9px solid  #91BDDE;
}

.portfolio-slider .owl-nav button.owl-prev:hover:after {
border-left: 0;
border-right: 9px solid  #91BDDE;
}

.portfolio-slider .owl-dots {
float: left;
margin-right: 11px;
}

.portfolio-slider .owl-dots .owl-dot {
width: 33px;
height: 3px;
background: #3b3f42;
margin-right: 7px;
}

.portfolio-slider .owl-dots .owl-dot.active {
background:  #91BDDE;
}

.portfolio-slider .owl-dots .owl-dot:last-child {
margin-right: 0;
}

/* ----------------
Blog page
---------------------*/

.blog-page {
padding: 144px 0;
}

.blog-page .blog-item {
margin-bottom: 60px;
}

.site-pagination a {
display: inline-block;
color: #3b444d;
font-family: "Helvetica 45 Light", sans-serif;
}

.site-pagination a.active {
color:  #91BDDE;
}

.sb-widget {
margin-bottom: 75px;
}

.sb-widget .sb-title {
font-size: 24px;
font-weight: 700;
margin-bottom: 45px;
font-family: "Helvetica Neue Bold", sans-serif;
}

.sb-widget .search-widget input {
float: left;
width: calc(100% - 78px);
height: 48px;
border: none;
padding-bottom: 24px;
border-bottom: 3px solid #f6f7fb;
}

.sb-widget .search-widget button {
border: none;
padding-bottom: 19px;
font-size: 14px;
font-weight: 700;
font-family: "Helvetica Neue Bold", sans-serif;
width: 78px;
height: 48px;
border-bottom: 3px solid  #91BDDE;
background-color: transparent;
}

.sb-widget .populer-post .pp-item {
margin-bottom: 18px;
overflow: hidden;
}

.sb-widget .populer-post .pp-item img {
float: left;
width: 80px;
height: 80px;
margin-right: 18px;
}

.sb-widget .populer-post .pp-item .pp-text {
overflow: hidden;
}

.sb-widget .populer-post .pp-item .pp-meta {
font-size: 12px;
color: #71767b;
font-family: "Helvetica 45 Light", sans-serif;
margin-bottom: 10px;
}

.sb-widget .populer-post .pp-item .pp-meta span {
margin-right: 5px;
padding-right: 5px;
display: inline-block;
}

.sb-widget .populer-post .pp-item .pp-meta span:last-child {
margin-right: 0;
padding-right: 0;
}

.sb-widget .populer-post .pp-item h5 {
font-size: 18px;
font-family: "Helvetica 45 Light", sans-serif;
}

.sb-widget .populer-post .pp-item h5 a {
color: #081624;
}

.sb-widget .categories-widget {
border: 3px solid #3b3f42;
padding: 58px 29px 40px;
}

.sb-widget .categories-widget ul {
list-style: none;
}

.sb-widget .categories-widget ul li a {
font-size: 16px;
color: #71767b;
font-family: "Helvetica 45 Light", sans-serif;
display: block;
margin-bottom: 15px;
-webkit-transition: all 0.4s;
transition: all 0.4s;
}

.sb-widget .categories-widget ul li a:hover {
color:  #91BDDE;
font-weight: 700;
}

.sb-widget .latest-comments .lc-item {
overflow: hidden;
margin-bottom: 11px;
}

.sb-widget .latest-comments .lc-item img {
width: 45px;
height: 45px;
border-radius: 50%;
float: left;
margin-right: 22px;
}

.sb-widget .latest-comments .lc-item h4 {
overflow: hidden;
font-size: 16px;
font-family: "Helvetica 45 Light", sans-serif;
color: #3b3f42;
padding-top: 12px;
}

.sb-widget .latest-comments .lc-item h4 span {
color: #71767b;
}

.sb-widget .latest-comments .lc-item h4 a {
color:  #91BDDE;
}

/* ------------------
Single blog page
---------------------*/

.single-blog-page {
padding: 144px 0;
}

.single-blog-page .blog-item p {
margin-bottom: 40px;
}

.single-blog-page .blog-item blockquote {
font-family: "Helvetica Neue Bold", sans-serif;
font-size: 21px;
font-style: italic;
position: relative;
padding-top: 53px;
margin-bottom: 60px;
}

.single-blog-page .blog-item blockquote:after {
position: absolute;
content: "“";
left: 0;
top: 0;
font-size: 72px;
line-height: 72px;
color:  #91BDDE;
}

.blog-comments .bc-title {
font-size: 24px;
font-family: "Helvetica Neue Bold", sans-serif;
font-weight: 700;
margin-bottom: 40px;
}

.blog-comments .comments-list {
list-style: none;
}

.blog-comments .comments-list li {
margin-bottom: 50px;
}

.blog-comments .comments-list .comment-avatar {
width: 45px;
height: 45px;
border-radius: 50%;
float: left;
margin-right: 21px;
}

.blog-comments .comments-list .comment-text {
overflow: hidden;
}

.blog-comments .comments-list .comment-text h6 {
font-family: "Helvetica 45 Light", sans-serif;
color: #71767b;
padding-top: 10px;
margin-bottom: 25px;
}

.blog-comments .comments-list .comment-text h6 span {
color: #081624;
}

.blog-comments .comments-list .reply-btn {
font-family: "Helvetica 45 Light", sans-serif;
color:  #91BDDE;
font-size: 16px;
}

.comment-form input,
.comment-form textarea {
width: 100%;
height: 55px;
padding: 8px 15px;
margin-bottom: 24px;
font-size: 14px;
font-family: "Helvetica 45 Light", sans-serif;
color: #081624;
font-weight: 400;
border: 1px solid #e3e3e3;
}

.comment-form textarea {
height: 219px;
padding: 20px 28px;
}

/* ----------------
Contact page
---------------------*/

.contact-page .section-title {
margin-bottom: 70px;
}

.contact-page .section-title h2 {
padding-top: 0;
}

.contact-page .map {
margin-bottom: 20px;
}

.contact-page .map iframe {
width: 100%;
height: 310px;
}

.contact-text p {
margin-bottom: 60px;
}

.contact-text ul {
list-style: none;
padding-left: 0;
}

.contact-text ul li {
font-size: 16px;
font-family: "Helvetica Neue Bold", sans-serif;
font-weight: 700;
margin-bottom: 5px;
}



/* demo-4 */
.ftco-vh-100 {
height: 100vh; }

.ftco-vh-75 {
height: 75vh;
min-height: 700px; }

.ftco-tab-nav {
padding: 0;
margin: 0;
display: inline-block !important; }

.ftco-tab-nav li {
padding: 0;
margin: 0 5px;
display: inline-block !important; }

.ftco-tab-nav li a {
text-transform: uppercase;
font-size: 14px;
letter-spacing: .2em;
color: #ccc;
border: 2px solid #ccc;
border-radius: 0 !important; }
.ftco-tab-nav li a.active {
background: none !important;
color: black !important;
border: 2px solid #3b3f42; }

.ftco-animate {
opacity: 0;
visibility: hidden; }

.testimony-wrap {
display: block;
position: relative; }
.testimony-wrap .user-img {
width: 100px;
height: 100px;
border-radius: 50%;
position: relative;
margin: 0 auto; }
.testimony-wrap .user-img .quote {
position: absolute;
bottom: -10px;
right: 0;
width: 40px;
height: 40px;
background: #000000;
border-radius: 50%; }
.testimony-wrap .user-img .quote i {
color: #fff; }
.testimony-wrap .name {
font-weight: 400;
font-size: 16px;
margin-bottom: 0;
color: #000000; }
.testimony-wrap .position {
font-size: 13px;
color: gray; }

.media .ftco-icon {
width: 100px; }
.media .ftco-icon span {
color: #91BDDE; }

.ftco-media {
background: #fff;
border-radius: 0px; }
.ftco-media .heading {
font-weight: normal; }
.ftco-media.ftco-media-shadow {
padding: 40px;
background: #fff;
-webkit-box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
-webkit-transition: .2s all ease;
-o-transition: .2s all ease;
transition: .2s all ease;
position: relative;
top: 0; }
.ftco-media.ftco-media-shadow:hover, .ftco-media.ftco-media-shadow:focus {
top: -3px;
-webkit-box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3); }
.ftco-media .icon {
font-size: 50px;
display: block;
color: #91BDDE; }
.ftco-media.text-center .ftco-icon {
margin: 0 auto; }

.ftco-overflow-hidden {
overflow: hidden; }

.testimony-wrap .name {
font-weight: 400;
font-size: 16px;
margin-bottom: 0;
color: #000000; }
.testimony-wrap .position {
font-size: 13px;
color: gray; }

.testimony-section {
position: relative; }
.testimony-section .overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
content: '';
background: #fff;
opacity: .92;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s; }

.testimony-section .owl-carousel {
margin: 0; }
.testimony-section .owl-carousel .owl-dots {
position: relative;
text-align: center;
margin-top: 10px; }
.testimony-section .owl-carousel .owl-dots .owl-dot {
display: inline-block;
zoom: 1; }
.testimony-section .owl-carousel .owl-dots .owl-dot span {
width: 10px;
height: 10px;
background: #999999;
border-radius: 50%;
display: inline-block;
margin: 5px 7px; }
.testimony-section .owl-carousel .owl-dots .owl-dot.active span {
background: #000000; }
.testimony-section .owl-carousel .owl-stage-outer {
padding-bottom: 0;
position: relative; }

.testimony-wrap {
display: block;
position: relative; }
.testimony-wrap .user-img {
width: 100px;
height: 100px;
border-radius: 50%;
position: relative;
margin: 0 auto; }
.testimony-wrap .user-img .quote {
position: absolute;
bottom: -10px;
right: 0;
width: 40px;
height: 40px;
background: #000000;
border-radius: 50%; }
.testimony-wrap .user-img .quote i {
color: #fff; }
.testimony-wrap .name {
font-weight: 400;
font-size: 16px;
margin-bottom: 0;
color: #000000; }
.testimony-wrap .position {
font-size: 13px;
color: gray; }

.heading-section span {
text-transform: uppercase;
letter-spacing: 5px;
font-size: 14px; }

.heading-section h2 {
font-weight: 400;
font-size: 28px;
text-transform: uppercase;
letter-spacing: 1px;
color: #3b3f42;
font-family: "Josefin Sans", Arial, sans-serif; }

.img,
.model-img,
.author-img,
.logo-img,
.blog-img,
.hero-wrap,
.user-img {
background-size: cover;
background-repeat: no-repeat;
background-position: center center; }


/* demo-3 */
.product-item {
overflow: hidden;
height: 100%;
position: relative; }
.product-item .product-category {
position: absolute;
display: inline-block;
padding: 10px 30px;
background: #fff;
color: #3b3f42;
z-index: 8;
top: 60%;
left: 50%;
font-size: 20px;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%); }
.product-item .product-category span {
color: #ced4da;
font-size: 12px; }
.product-item .product-category:hover {
background: #3b3f42;
color: #fff; }
.product-item .product-category:hover span {
color: rgba(255, 255, 255, 0.5); }
.product-item.full-height {
height: 100% !important; }

.product-item.bg-gray {
background: #f9f9f9; }
.product-item.sm-height {
height: 300px;
padding: 40px; }
.product-item.md-height {
height: 400px;
padding: 40px; }
.product-item img {
left: 50%;
top: 15%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
-o-object-fit: cover;
object-fit: cover;
max-width: 300px;
position: absolute; }

.item-entry .product-item {
margin-bottom: 30px; }

.item-entry .item-title {
font-size: 18px;
font-weight: normal;
margin-bottom: 0; }
.item-entry .item-title a {
color: gray; }
.item-entry .item-title a:hover {
color: #3b3f42; }

.item-entry .item-price {
color: #3b3f42;
font-weight: bold; }
.item-entry .item-price del {
color: #b3b3b3; }

.title-section h2 {
padding-left: 30px;
border-left: 4px solid #91BDDE;
display: inline-block;
color: #3b3f42; }

.title-section.text-center h2 {
border-left: none;
position: relative;
padding-left: 0px;
padding-bottom: 20px; }
.title-section.text-center h2:after {
position: absolute;
bottom: 0;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
width: 70px;
height: 4px;
background: #91BDDE;
content: ""; }

.site-section {
padding: 2.5em 0;
}


/* demo 5 */
.all-product-item-pic {
    position: relative;

    display: block;
    overflow: hidden;
}

.all-product-item-pic img {
    object-fit: contain;
    width: 100%;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.all-product-item-pic:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.all-product-item-btn {
    position: absolute;
    bottom: -50px;
    left: 50%;
    text-transform: uppercase;

    border-radius: 0;
    background-color: #fff;
    min-width: 139px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;

    overflow: hidden;
    color: #333;

    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

    -webkit-transition: all 400ms;
    -o-transition: all 400ms;
    -moz-transition: all 400ms;
    transition: all 400ms;

    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
    display: flex;

    justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.all-product-item-btn:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
}

.all-product-item-pic:hover .all-product-item-btn {
    bottom: 50%;
}

/*---------------------------------------------*/
.all-product-item-desc {
    display: flex;
    flex-direction: column;
    -ms-align-items: flex-start;
	align-items: flex-start;
    background-color: #fff;
    position: relative;
    margin-top: -70px;
    left: 0;
    padding: 5px 10px;
}

.all-product-item-desc .cl3{
    font-family: Montserrat, sans-serif;
    font-size: 17.5px;
    font-weight: 300;
}

.all-product-item-txt-child2 {
width: 30px;
}

.btn-addwish-b2 .icon-heart2 {
opacity: 0;
}

.btn-addwish-b2:hover .icon-heart2 {
opacity: 1;
}

.btn-addwish-b2:hover .icon-heart1 {
opacity: 0;
}

.js-addedwish-b2 .icon-heart2 {
opacity: 1;
}

.js-addedwish-b2 .icon-heart1 {
opacity: 0;
}

/*---------------------------------------------*/
.label-new {
position: relative;
}

.label-new::after {
content: attr(data-label);
font-family: Montserrat-Regular;
font-size: 12px;
color: #fff;
line-height: 1.2;

display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
min-width: 50px;
height: 22px;
border-radius: 11px;
padding: 0 6px;
background-color: #66a8a6;
top: 42px;
left: 12px;
}

.contact {
    padding-top: 0;
}

.p-small {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.footer .footer-link {
    text-decoration: none;
}

.footer .icon-footer {
    font-size: 2em;
    color: #3b3f42;
    width: 100%;
}

.img-logo {
    max-width: 3rem;
    min-width: 6rem;
}

.all-product-header {
    font-weight: normal;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #3b3f42;
    letter-spacing: 1.3px;
}

.all-product-item-container {
    padding-bottom: 35px;
}

.all-product-item-name {
    font-family: Montserrat, sans-serif!important;
    color: #3b3f42;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 6px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    letter-spacing: 1.3px;
}

.all-product-item-name:hover {
    color: #91BDDE;
}

.email-sup-text {
    color: rgb(34, 32, 37) !important;
}

.cooperation {
    background-color: #3b3f42;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cooperation-text {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 17px;
    color: #d8d8d8;
    word-spacing: 4px;
}

.service {
    background-color: #000;
    display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-item {
    padding: 16px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service-item:not(:last-child) {
    margin-right: 7em;
}

.service-icon {
    font-size: 2.6em;
    margin-right: 15px;
    color: #d8d8d8;
}

.service-text {
    color: #d8d8d8;
}


.branding-authorized {
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.branding-authorized-item {
    flex: 1 1 0;
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.branding-authorized-item:not(:last-child) {
    margin-right: 8em;
}

.branding-authorzied-text {
    text-transform: uppercase;
    color: #3b3f42;
    font-size: 22px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.branding-authorized-logo {
    min-width: 50px;
    max-width: 100px;
    margin-right: 3px;
}

.branding-authorized-logo-bct {
    min-width: 140px;
    max-width: 180px;
}

.branding-authorized-logo-vnpay {
    min-width: 50px;
    max-width: 50px;
}

.branding-authorized-logo-momo {
    min-width: 50px;
    max-width: 50px;
}

.branding-authorized-logo-mastercard {
    min-width: 100px;
    max-width: 100px;
}

.branding-authorized-logo-visa {
    min-width: 60px;
    max-width: 60px;
}

.branding-authorized-logo-viettelpost {
    min-width: 120px;
    max-width: 140px;
}

.featured-product-container {
    overflow: hidden;
    padding: 0;
    margin: 0 0 10px 0;
}
.featured-product {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    width: 100%;
}
.featured-product:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.author-img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.author-img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.contact-header {
    font-size: 1.6rem;
}
.get-notification .form-control{
    border-width: 1px!important;
    height: 55px;
    padding-left: 15px;

}
.get-notification h2{
    font-weight: normal!important;
}
.get-notification .btn{
    margin-left: -1px;
    border-width: 1px!important;
    background-color: #fff!important;
    color: #3b3f42!important;

}
.get-notification .btn:hover{
    background-color: #000!important;
    color: #fff!important;
    border-color: #fff!important;
}
.bg-fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}
.footer h4{
    font-family: Montserrat, sans-serif;
}
.footer-item{
    font-family: Montserrat, sans-serif;
}
.pt90p{
    padding-top: 90%;
}
.img-no{
    background-repeat: no-repeat;
}
.img-full-h{
    background-size: auto 100%;
}
.img-full-w{
    background-size: 100% auto;
}
.img-center{
    background-position: center;
}
.img-cover{
    background-size: cover;
}

.max-w100{
    max-width: 100px;
}
.max-w180{
 max-width: 180px;
}

.t-black{
    color: #3b3f42;
}
a.t-black:hover{
    color:  #91BDDE;
}
/* #91BDDE */

.max-w770{
    max-width: 770px;
}
.sub-title{
    color: #3b3f42;
}
#instructions {
    max-width: 970px;

    text-align: left; margin: 30px auto; }

/* Show the controls (hidden at the start by default) */
.video-js .vjs-control-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#instructions a, #instructions a:hover, #instructions:visited{
    color: #91BDDE
}
.vjs-big-play-button {
    /* transition: 500ms; */
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}

.video-js:hover .vjs-big-play-button {
    transition: 200ms !important;
    color: #000 !important;
    background-color: #ffffff !important;
    border-color: transparent !important;
    transform: translate(-50%, -50%) scale(1.15);
}

.partners {
    background-color: #ffffff;
}

.our-story {
    background-color: #f6f6f6;
}

.vjs-playback-rate-value {
    visibility: hidden !important;
}
.pt150p{
    padding-top: 150%;
}
.author-img{
    background-image: url("../img/blahblah.jpg");
}
.branding-authorized-logo-viettelpost{
    width: 140px;
    height: 88px;
}
