.site-navbar {
    background-color: #000000;

}
.nav-link{

    font-family: "Arial", sans-serif;
}
.site-navbar.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 25px;
    padding-left: 25px;
    position: relative;
}
.site-navbar.navbar-dark .navbar-nav .nav-link:before{
    content: "";
    width: 0;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 25px;
    transition: all .2s ease-in-out;
}

.site-navbar.navbar-dark .navbar-nav .nav-link:hover:before {
    width: 70%;
}

.navbar-brand {
    padding-top: .5125rem !important;
    padding-bottom: .5125rem !important;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand {
    padding-top: .5125rem !important;
    padding-bottom: .5125rem !important;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.thekim-brand {
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
}
